/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

.gallery-container {
    padding: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lightbox_container {
    display: none;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

#lightbox_title {
    /*background-color: rgba(0, 0, 0, 1);*/
    text-align: center;
    color: white;
    font-size: 1.2em;
}

#lightbox_close {
    color: white;
    font-size: 1.5em;
}

#lightbox_full_img {
    max-width: 100%;
    max-height: 100%;
    padding-top: 20px;  
}

#lightbox #lightbox-img {
    width: 100%;
    height: 92%;
    position: relative;
}

/*#lightbox_full_img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 75%;  
}*/

.vignette {
    border: 1px solid;
    flex: 20em 0 0;
    padding: 2em;
    margin-bottom: 2em;
}

.vignette img {
    max-width: 80%;
    height: auto;
    display: inline-block
}

#milieu {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 60%;
}

#milieu p{
    padding-top: 12%;
    height: 100%;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1%;
}

#lightbox-head{
    margin-top: 1%;
}

.container{
    min-width: 100%;
}

#bottom{
    color:white;
    margin-top: 2%;
    text-align: left;
}

.modal-backdrop {
    position: static;
    background-color: white;
}